.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  padding: 30px;
}
.dashboard .item {
  height: 150px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px #bbb;
  padding: 20px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item > div:last-child {
  display: flex;
  justify-content: flex-end;
}
.managetests {
  padding: 5px;
  font-size: 16px;
  height: fit-content;
  background: #112233;
  color: white;
  border: 1px solid #112233;
  border-radius: 2px;
  outline: none !important;
}
.managetests:active {
  background: #001122;
}
